@font-face{
  font-family: 'Header_1';
  src: url(/files/fonts/Monsterrat/Montserrat-Medium.ttf);
}

.Header_1{
  font-family: 'Header_1';
  text-align: center;
  font-size: 30px;
}

@font-face {
  font-family: 'caption';
  src: url(/files/fonts/Monsterrat/Montserrat-LightItalic.ttf);
}

.caption{
  font-family: 'caption';
  text-align: center;
}

html {
  background-image: url(/files/images/backgrounds/handshake.png), url(/files/images/backgrounds/bg.png);
  background-size: 60%, 5%;
  background-repeat: no-repeat, repeat;
  background-position: center;
  top: 20%;
}

.vibeo {
  text-align: center;
}

.frame {
  height: 1500;
  width: 1500;
  background-image: url(/files/images/backgrounds/frame.png);
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

a.nav-link:link
{
   color: #fb3f00;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #fb3f00;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #fb3f00;
   text-decoration: none;
}
a.nav-link:active
{
   color: #fb3f00;
   text-decoration: none;
}
#despair {
  height: 212px;
  width: 212px;
}
a{
    color:inherit;
    text-decoration: none;
}
a:hover{
    color:inherit;
}